name: Reserve

on:
  workflow_dispatch: 

jobs:
  reserve:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install Python and required dependencies
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.14
          cache: pip
          pip-version: 25.3
          pip-install: -r requirements.txt

      - name: Install required browsers
        run: |
          echo Installing browsers.
          playwright install
          echo Finished installing browsers.

      - name: Run script
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
        run: |
          echo Running the script.
          python $GITHUB_WORKSPACE/reserve.py
          echo Finished running the script.
