name: Reserve

on:
  schedule:
    - cron: "45 6 * * 4"

  workflow_dispatch: 

jobs:
  reserve:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install Python and required dependencies
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.14
          cache: pip
          pip-version: 25.3
          pip-install: -r requirements.txt

      - name: Install required browsers
        run: |
          echo Installing browsers.
          playwright install
          echo Finished installing browsers.

      - name: Wait until 11:00 PM PST
        run: |
          TARGET_TIME=$(date -d "07:00" +%s)
          CURRENT_TIME=$(date +%s)
          SLEEP_SECONDS=$((TARGET_TIME - CURRENT_TIME))
          if [ $SLEEP_SECONDS -gt 0 ]; then
            echo "Waiting $SLEEP_SECONDS seconds for exact 11:00 PM PST..."
            sleep $SLEEP_SECONDS
          fi

      - name: Run script
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
        run: |
          echo Running the script.
          python $GITHUB_WORKSPACE/reserve.py
          echo Finished running the script.
